@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #043a5a;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #c0bfbd;
  --xxx-color: #b5b8b7;
}

/**************Navbar ******************/
.navbar,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  color: var(--light-color);
  background-color: var(--primary-color);
}
.logo img {
  width: 30px;
  height: 30px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #ccc;
}
.logo span {
  color: rgb(255, 57, 22);
}
.navbar ul {
  display: flex;
}
.links {
  margin-right: 10px;
}

.navbar i {
  padding: 0 1rem;
}
li {
  list-style: none;
  padding: 0 1rem;
  transition: all 0.3s ease 0s;
}
a {
  text-decoration: none;
  color: var(--light-color);
}
li i:hover,
a:hover {
  opacity: 0.5;
  color: white;
  cursor: pointer;
}
/* **************app ************************ */

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* ****************** GuestForm************** */

form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.invite-section {
  flex-basis: 33%;
}
.invite-section h1 {
  color: var(--primary-color);
  padding: 0;
  margin: 1rem 0;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  border: none;
  height: 2.5rem;
  font-size: 1.2rem;
  border-bottom: solid 1px gray;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: none !important;
  border-bottom: 1px solid var(--primary-color);
}
.options-label {
  display: block;
  padding-top: 1rem;
  color: var(--primary-color);
  font-weight: bold;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--light-color);
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin-top: 1rem;
}
.btn:hover {
  opacity: 0.8 !important;
  color: white !important;
}

.center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.row {
  display: grid;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/*********************table styles ************** */
table {
  border-collapse: collapse;
  width: 100%;
  text-transform: capitalize;
  color: var(--primary-color);
  font-size: bold;
}
td,
th {
  text-align: left;
  padding: 0.5rem 2rem;
}

tr:nth-child(odd) {
  background-color: var(--light-color);
}
td {
  transition: all 0.3s ease 0s;
}

/************************************ register and login  ***************************/
.register,
.login,
.update {
  color: var(--primary-color);
  text-align: center;
  width: 33%;
  margin: 13rem auto;
}
.question {
  color: #333;
  margin: 1.5rem 0;
}
.question a {
  color: var(--primary-color);
}
.danger {
  background-color: rgb(207, 58, 58);
  width: 100%;
  margin-bottom: 0.3rem;
  margin-top: 0rem;
  text-transform: capitalize;
  padding: 0.5rem;
  cursor: initial;
  border: none;
  color: #fff;
  font: inherit;
}
.danger span {
  float: right;
  cursor: pointer;
}
.red {
  background: rgb(248, 139, 139);
}
.green {
  background: rgb(128, 206, 128);
}
.seaGreen {
  background: rgb(107, 161, 197);
}
@media (max-width: 1300px) {
  .main {
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 1100px) {
  .register,
  .login,
  .update {
    width: 40%;
  }
  .main {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  table {
    flex: 1;
    margin: 0 1rem;
  }
  .toggle {
    display: flex;
    align-items: baseline;
  }
  .toggle p {
    margin-left: 0.7rem;
  }
}

@media (max-width: 900px) {
  .guests {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 760px) {
  .sm-hide {
    display: none;
  }
  li {
    padding: 0.2rem;
  }
  .text-dark {
    margin-left: 25px;
  }
  .register,
  .login,
  .update {
    width: 70%;
  }
  .main,
  .filter,
  .guests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .invite-section {
    width: 100%;
    margin: auto;
  }
  table {
    font-size: 12px;
  }
  .navbar {
    padding: 1rem;
    font-size: 12px;
  }
  .navbar h1 {
    font-size: 14px;
  }
  .links {
    margin-right: 10px;
  }

  .guest-card {
    width: 100%;
  }
  table {
    margin: 0;
  }
}
